aiohttp==3.8.5
aiofiles==23.1.0
asyncio==3.4.3
beautifulsoup4==4.12.2
cryptography==41.0.0
fake-useragent==1.4.0
Flask==2.3.2
Flask-CORS==4.0.0
pycryptodome==3.18.0
rich==13.5.0
requests==2.31.0
sqlite3-python==1.0.0
